---
const pageTitle = "About Me";

const identity = {
  firstName: "Kolade",
  country: "Nigeria",
  wifeName: 'Adenike',
  occupation: "Developer and Technical Writer",
  hobbies: ["coding", "writing", "sporting"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const sports = ['Football', 'Athletics', 'Boxing', 'Combat sports']

const happy = true;
const finished = false;
const goal = 3;
const started = 1;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<p>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>


        <p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </ul>

        <p>The name of my wife is {identity.wifeName}.</p>

        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>

        <p>And the sports I like are:</p>
        <ul>
            {sports.map((sport) => <li>{sport}</li>)}
        </ul>

        {happy && <p>I am happy to be learning Astro!</p>}
        
        {started === 1 ? <p>Indeed, I'm happy to start!</p> : <p>I'm not happy to start.</p>}

        {finished && <p>I finished this tutorial!</p>}

        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
	</body>
</html>
